@import "tailwindcss";

@theme {
  --text-heading-section: clamp(1.5rem, 2vw, 2.25rem);

  --spacing-container-padding: 1rem;
  --spacing-section-padding: 3rem;
  --spacing-section-margin: 5rem;
}

@layer base {
  @media screen and (min-width: 48rem) {
    :root {
      --spacing-container-padding: 2rem;
    }
  }
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply relative overflow-x-hidden;
  }
  body:has(dialog[open]) {
    @apply overflow-y-hidden;
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
  }
  button,
  a {
    cursor: pointer;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: auto;
    height: 5px !important;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 20px;
    background-color: #618a38;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  ::-webkit-scrollbar-thumb:vertical {
    border-radius: 20px;
    background-color: #618a38;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  ::backdrop {
    @apply bg-black/50;
  }
}

@layer components {
  .container {
    @apply px-container-padding mx-auto md:px-8;
  }
  .section-padding__block,
  .section-padding__bottom {
    @apply pb-section-padding;
  }
  .section-margin__block,
  .section-margin__top {
    @apply mt-section-margin;
  }
  .section-margin__block,
  .section-margin__bottom {
    @apply mb-section-margin;
  }
  @media screen and (prefers-reduced-motion: no-preference) {
    .hover-pop:hover:not(:disabled),
    .hover-pop:focus:not(:disabled) {
      transform: translate(0.125rem, -0.125rem);
    }
  }
}

@utility single-grid {
  display: grid;
  grid-template-areas: "a";
}
@utility single-grid__item {
  grid-area: a;
}
@utility hover-pop {
  display: inline-block;
  transition:
    transform 0.2s,
    color 0.2s,
    background-color 0.2s;
}
