@import "tailwindcss";

@theme {
  /* color-mix(in oklab, var(--color-example-primary) %percentage%, transparent) */
  --color-example-primary: #618a38;

  --text-heading-section: clamp(1.5rem, 2vw, 2.25rem);

  --spacing-container-padding: 1rem;
  --spacing-section-padding: 3rem;
  --spacing-section-margin: 5rem;
  --spacing-input-py: calc(var(--spacing) * 1.5);
  --spacing-input-px: calc(var(--spacing) * 4);
}
/* 96rem 80rem 64rem 48rem 40rem  */
@media screen and (min-width: 48rem) {
  @theme {
    --spacing-container-padding: 2rem;
  }
}

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    position: relative;
    overflow-x: hidden;
  }
  body:has(dialog[open]) {
    overflow-y: hidden;
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
  }
  button,
  a {
    cursor: pointer;
  }
  ul > li {
    display: contents;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  ::-webkit-scrollbar {
    -webkit-appearance: auto;
    background-color: #3334;
    height: 0.4rem;
    width: 0.4rem;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 1.25rem;
    background-color: var(--color-example-primary);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  ::-webkit-scrollbar-thumb:vertical {
    border-radius: 1.25rem;
    background-color: #618a38;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  ::backdrop {
    background-color: #0008;
  }
}

@layer components {
  .container {
    padding-inline: var(--spacing-container-padding);
    margin-inline: auto;
  }
  .button {
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  .button__primary {
    background-color: var(--color-example-primary);
    color: #fff;
  }
  .hover-pop {
    display: inline-block;
    transition:
      transform 0.2s,
      color 0.2s,
      background-color 0.2s;
  }
  @media screen and (prefers-reduced-motion: no-preference) {
    .hover-pop:hover:not(:disabled),
    .hover-pop:focus:not(:disabled) {
      transform: translate(0.125rem, -0.125rem);
    }
  }
}

@utility single-grid {
  display: grid;
  grid-template-areas: "a";
}
@utility single-grid__item {
  grid-area: a;
}
